*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    --circle-anim: 0.8s;
    --landing-duration: 1s;
    --scrollbarBG:grey;
    --thumbBG: black;
}
html{
    scroll-behavior: smooth;
}
body{
    background:rgba(0,0,0,0.9);
    font-family: 'Fira Mono', monospace;
    overflow-x: hidden;
}
/* Scrollbar */
body::-webkit-scrollbar {
    width: 10px;
  }
  body {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
  body::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
  }  

/* Landing page */

.landing-page{
    background: black;
    width:100vw;
    height:100vh;
    position: fixed;
    z-index: 99;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    animation-duration: var(--landing-duration);
    animation-timing-function: ease-out;
}
.hidden{
    animation: fadeOut 2s;
    animation-fill-mode: forwards;
    animation-delay: var(--landing-duration);
}
@keyframes fadeOut {
    100%{
        opacity:0;
        visibility: hidden;
    }
}

.circle-red{
    width: 150px;
    height:150px;
    background: red;
    border-radius: 50%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(500%,140%);
    animation-name: red-circle-anim;
    animation-duration: var(--circle-anim);
    animation-timing-function: ease-out;
}

.circle-pink{
    width: 150px;
    height:150px;
    background: pink;
    border-radius: 50%;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-545%,-300%);
    animation-name: pink-circle-anim;
    animation-duration: var(--circle-anim);
    animation-timing-function: ease-out;
}
.landing-text{
    color: #ffffff;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-150%,450%);
    animation-name: text-anim;
    animation-duration: var(--circle-anim);
    animation-timing-function: ease-out;
}
@keyframes red-circle-anim{
    0%{
        transform:translate(500%,140%);
    }
    100%{
        transform: translate(-80%,-50%);
    }
}
@keyframes pink-circle-anim{
    0%{
        transform: translate(-545%,-300%);
    }
    100%{
        transform: translate(-50%,-30%);
    }
}
@keyframes text-anim{
    0%{
        transform: translate(-150%,450%);
    }
    100%{
        transform: translate(-80%,-50%);
    }
}

/* nav bar */
nav{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height:10vh;
    background-color: #1a1c1d;
    z-index: 1;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.logo{
    color:rgb(226, 226, 226);
    letter-spacing: 3px;
    font-size: 1.6rem;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:45%;
    list-style: none;
}
.nav-links li a{
    color: rgb(226,226,226);
    text-decoration: none solid;
    letter-spacing: 2px;
    font-size:0.9rem;
}
/* navbar's bottom animation */
.bottom-nav-anim{
    position: relative;
}
.bottom-nav-anim::after{
    content:'';
    display:block;
    position: absolute;
    bottom:-8px;
    left:0;
    width:100%;
    height:2px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: right;
}
.bottom-nav-anim:hover::after{
    transform:scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}
.bottom-nav-anim:active::after{
    content:'';
    display:block;
    position:absolute;
    bottom:-8px;
    left:0;
    width:100%;
    height:2px;
    background:#fff;
}
.button{
    color: rgb(226,226,226);
    background: none;
    padding: 0.5rem;
    border: 1px solid rgb(190, 177, 177);
    border-radius: 0.2rem;
    cursor: pointer;
    transition: 0.5s;
}
.button:hover{
    color: black;
    background-color: rgb(226,226,226);
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid #999;
}
/* burger icon for mobile view */
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width:22px;
    height:3px;
    margin: 5px;
    background-color:rgb(226,226,226);
    transition: all 0.3s ease;
}
/* responsive navbar */
@media screen and (max-width:1024px){
    .nav-links{
        width:70%;
    }
}
@media screen and (max-width:1000px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: -40px;
        height: 90vh;
        top:7vh;
        background-color: #1a1c1d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display:block;
        margin-right: 20px;
    }
}

.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
main{
    display: block;
    position:relative;
}

/* home section */

.home{
    min-height: 90vh;
    position: relative;
}
.home-content{
    position: absolute;
    justify-self: center;
    top: 15%;
    left: 15%;
}
.shell-blink{
    font-weight: bold;
    color: #d1ced5;
    animation: shell-anim 1s ease infinite alternate;
}
@keyframes shell-anim {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.intro-text-1{
    margin-top: 10vh;
    font-size: 1.2rem;
    color: #6689a7;
}
.intro-text-2{
    margin: 30px 0px 0px 0px;
    font-size: 3rem;
    font-weight: bolder;
    color: #d1ced5;
    transform:translateX(0);
    animation: name-anim 1s ease-in 0.9s;
}
@keyframes name-anim {
    0%{
        transform: translateX(-100%);
    }
    75%{
        transform: translateX(0);
    }
    85%{
        transform: translateX(-5%);
    }
    100%{
        transform: translateX(0);
    }
}
.intro-text-3{
    margin: 30px 0px 0px 0px;
    font-size: 2rem;
    font-weight: bold;
    color: #6689a7;
    display:flex;
}
.typing{
    margin-left: 20px;
    position: relative;
}
.typing::after{
    content:'';
    position: absolute;
    width: 1px;
    height: 90%;
    background-color: #6689a7;
    border: 2px solid #6689a7;
    right: -10px;
    animation: typing-anim 1s ease infinite alternate;
}
@keyframes typing-anim {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
p{
    margin-top: 30px;
    color: #d1ced5;
    line-height: 1.8;
}
.fa{
    margin-right:20px;
    margin-top: 50px;
    background: #d1c3d5;
    padding: 5px;
    border-radius: 15%;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.home-contact a:hover{
    transform: translateY(-10px);
}

a:active, a:link, a:visited{
    color: black;
}
@media screen and (max-width:600px){
    .home-content{
        left:5%;
    }
    .intro-text-1{
        margin-top: 2vh;
    }
    .intro-text-2{
        font-size: 1.5rem;
        margin-top: 15px;
    }
    .intro-text-3{
        font-size:1.2rem;
        margin-top: 30px;
    }
    .fa{
        padding: 3px;
        margin-right:10px;
        margin-top: 30px;
    }
    .home-content p{
        margin-top: 50px;
    }
    .typing{
        margin-left: 10px;
    }
    .typing::after {
        right:-5px;
    }
}
@media screen and (max-width:900px) {
    /* Home section */
    .home-content{
        left:5%;
    }
    .home-content p {
        font-size: 1rem;
    }
    .home-content p br {
        content: '';
    }
}
/* About section */

.about{
    min-height: 100vh;
    position: relative;
}
.about-content{
    position: absolute;
    left: 15%;
    top:15%; 
}
.heading{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #d1ced5;
    letter-spacing: 2px;
    transition: letter-spacing 0.3s ease;
}
.heading:hover{
    letter-spacing: 5px;
}
.about-image-container{
    display:flex;
    margin: 20px 0px 0px -40px;
}

.about-image-container img{
    margin-top: 30px;
    margin-left:40px;
    height:250px;
    width:270px;
}
.about-image-container p{
    font-family: 'Fira Mono', monospace;
    font-size: 1rem;
    margin-left: 30px;
    line-height: 2;
}
.skills{
    margin-left: 32%;
    margin-top: 10px;
}
ul{

    display:inline-block;
    margin: 20px;
    margin-left: 30px;
}
ul li{
    font-family: 'Fira Mono', monospace;
    font-size: 1rem;
    line-height: 2;
    color: #d1ced5;
}
@media screen and (max-width:900px) {
    .about-content{
        top: 25%;
        left: 5%;
    }
    .about-image-container img {
        height: 190px;
        width: 210px;
    }
    .about-image-container p {
        margin-right: 10px;
    }
    .skills{
        margin-left: 0px;
        margin-top: 0px;
    }
    ul{
        display: inline-block;
    }
    ul li{
        font-family: 'Fira Mono', monospace;
        font-size: 0.8rem;
        line-height: 3;
    }
}
@media screen and (max-width: 370px) {
    .about-content{
        top: 80%;
    }
    .skills{
        margin-left: 10px;
        margin-top: 0px;
    }
    .skills ul{
        display: inline-block;
        margin: 15px;
        margin-left:5px;
    }
    .skills ul li{
        font-family: 'Fira Mono', monospace;
        font-size: 0.7rem;
        line-height: 3;
    }
    .typing{
        margin-left:-195px;
    }
    .typing::after{
        height: 40%;
        right: -8px;
    }
    .typing::before{
        content: '\A';
        white-space: pre;
        line-height: 1.5;
    }
}
@media screen and (max-width:1024px) {
    .about-image-container {
        flex-direction: column;
    }
    .about-image-container p {
        font-size: 15px;
    }
    .about-image-container p br{
        content: '';
    }
    .line-break::before{
        content:"\A\A";
        white-space: pre;
    }
    ul{
        display: inline-block;
    }
}
@media screen and (max-width: 700px) {
    .about-content {
        top:15%;
    }
    .skills{
        margin-left: 0px;
        margin-top: 0px;
    }
    ul{
        display: inline-block;
        margin: 15px;
        margin-left:5px;
    }
    ul li{
        font-family: 'Fira Mono', monospace;
        font-size: 0.8rem;
        line-height: 3;
    }
}
/* projects section */
.projects{
    position: relative;
    height: 100vh;
    margin-top: 15%;
}
.projects-content {
    position: absolute;
    left:15%;
    top:15%;
}
.project-list{
    display:grid;
    grid-template-columns: auto auto auto;
    margin-top:20px;
}
.project{
    height: 360px;
    width:330px;
    background-color: #0b0c0c;
    box-shadow: 5px 8px;
    margin: 18px;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Fira Mono', sans-serif;
    transition: transform 0.3s ease;
    transition-delay: 100ms;
}
.project:hover{
    transform: translateY(-5%);
}
.project h5{
    font-size: 1.25rem;
    color: #6689a7;
}
.project p {
    margin-top: 30px;
}
.project .tech-list {
    display: inline-block;
    font-size: 12px;
    font-weight: lighter;
    margin-top: 20%;
    color: #6689a7;
}
.project-2 .tech-list, .project-3 .tech-list{
    margin-top: 30px;
}
@media screen and (max-width: 1024px) {
    .project-list{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width: 900px) {
    .projects-content{
        left: 5%;
        top: 60%;
    }
}
@media screen and (max-width: 700px) {
    .projects{
        margin-top: 60%;
    }
    .projects-content {
        top: 15%;
    }
    .project-list {
        grid-template-columns: auto;
    }
}
@media screen and (max-width: 370px) {
    .projects-content{
        top: 80%;
    }
    .project {
        height:280px;
        width:250px;
        font-size: 10px;
        padding: 15px;
    }
    .project .tech-list {
        margin-top: 30%;
    }
    .project-2 .tech-list{
        margin-top:12px;
        line-height: 2;
    }
}
@media screen and (max-width: 1290px) {
    .project{
        height: 320px;
        width: 300px;
        font-size: 15px;
    }
    .project a{
        margin-top: 20px;
    }
    .project p {
        margin-top:15px;
    }
    .project .tech-list{
        margin-top: 25%;
    }
    .project-2 .tech-list, .project-3 .tech-list{
        margin-top: 10px;
    }
    .project-2 .tech-list{
        line-height: 2;
        margin-top: 2px;
    }
    .project-2 p{
        margin-top: 10px;
    }
}
.contact{
    position: relative;
    margin-top: 30%;
}

.contact-heading{
    margin-top: 12%;
}

.contact-contents{
    position: absolute;
    left: 15%;
    width: 800px;
    box-sizing: border-box;
}
form {
    margin-top: 40px;
}

input {
    padding: 10px 10px;
    margin-bottom: 40px;
}
input[type="submit"]{
    margin-bottom: 10px;
}
textarea {
    height: 200px;
    padding: 10px 10px;
    margin-bottom: 40px;
}
input, textarea{
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    border-radius: 8px;
    background: #282828;
    font-size: 15px;
    color: rgb(209, 195, 213,0.9);
}
input:focus,
textarea:focus {
    background: rgba(255,255,255,0.3);
    color: #0b0c0c;
    font-weight: 500;
}
input[type="submit"] {
    width: 120px;
    color: #d1c3d5;
    font-size: 15px;
    padding: 10px;
    border: none;
    margin-top: 8px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s ease;
}
input[type="submit"]:hover {
    background:rgba(255,255,255,0.6);
    color: #282828;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 8px;
}
textarea{
    margin-bottom: 20px;
}
::-webkit-resizer {
    display: none;
}
.contact-contents form div {
    position: relative;
}
.contact-contents form div label {
    position: absolute;
    top: 17px;
    left: 6px;
    color: rgb(255, 255, 255,0.3);
    font-size: 18px;
    transition: .5s;
    pointer-events: none;
}
.contact-contents input:focus ~ label,
.contact-contents textarea:focus ~ label,
.contact-contents input:valid ~ label,
.contact-contents textarea:valid ~ label {
    top: -20px;
    left: -6px;
    font-size: 16px;
    color: #6689a7;
}
@media screen and (max-width: 1000px) {
    .contact-contents{
        width: 580px;
    }
    .contact{
        margin-top: 70%;
    }
}
@media screen and (max-width: 900px) {
    .contact{
        margin-top: 100%;
        left: -10%;
    }
    form{
        margin-left: 10px;
    }
}
@media screen and (max-width: 800px) {
    .contact{
        margin-top: 110%;
    }
}
@media screen and (max-width: 700px) {
    .contact {
        margin-top: 240%;
    }
}
@media screen and (max-width:650px) {
    .contact-contents {
        width: 350px;
    }
    .contact{
        margin-top: 270%;
    }
}
@media screen and (max-width: 500px) {
    .contact{
        margin-top: 320%;
    }
}
@media screen and (max-width: 450px){
    .contact-contents{
        width: 320px;
    }
    .contact{
        margin-top:410%;
    }
}
@media screen and (max-width: 380px) {
    .contact {
        margin-top: 520%;
    }
    .contact-contents{
        width: 270px;
    }
    .contact-heading{
        margin-top: 120px;
    }
    .project{
        width:250px
    }
    .project-2{
        height: 340px;
    }
}
@media screen and (max-width: 335px) {
    .contact {
        margin-top: 680%;
    }
}