*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #1a1c1d;
    font-family: 'Fira Mono', monospace;
}

/* nav bar */
nav{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height:10vh;
    background-color: #1a1c1d;
    z-index: 1;
    border-bottom: solid 3px rgba(128,128,128,0.1);
}
.logo{
    color:rgb(226, 226, 226);
    letter-spacing: 3px;
    font-size: 1.6rem;
}
.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:42%;
    list-style: none;
}
.nav-links li a{
    color: rgb(226,226,226);
    text-decoration: none solid;
    letter-spacing: 2px;
    font-size:0.9rem;
}
/* navbar's bottom animation */
.bottom-nav-anim{
    position: relative;
}
.bottom-nav-anim::after{
    content:'';
    display:block;
    position: absolute;
    bottom:-8px;
    left:0;
    width:100%;
    height:2px;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.2s;
    transform-origin: right;
}
.bottom-nav-anim:hover::after{
    transform:scaleX(1);
    transform-origin: left;
    transition: transform 0.2s;
}
.bottom-nav-anim:active::after{
    content:'';
    display:block;
    position:absolute;
    bottom:-8px;
    left:0;
    width:100%;
    height:2px;
    background:#fff;
}
.button{
    color: rgb(226,226,226);
    background: none;
    padding: 0.5rem;
    border: 1px solid rgb(190, 177, 177);
    border-radius: 0.2rem;
    cursor: pointer;
}
.button:hover{
    color: black;
    background-color: rgb(226,226,226);
    font-weight: bold;
}
/* burger icon for mobile view */
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width:22px;
    height:3px;
    margin: 5px;
    background-color:rgb(226,226,226);
    transition: all 0.3s ease;
}
/* responsive navbar */
@media screen and (max-width:1024px){
    .nav-links{
        width:70%;
    }
}
@media screen and (max-width:1000px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: -40px;
        height: 90vh;
        top:7vh;
        background-color: #1a1c1d;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display:block;
        margin-right: 80px;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade {
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
main{
    display: block;
    position:relative;
}

/* home section */

.home{
    min-height: 90vh;
    position: relative;
}
.home-content{
    position: absolute;
    justify-self: center;
    top: 5%;
    left: 10%;
}
.shell-blink{
    font-weight: bold;
    color: #d1ced5;
    animation: shell-anim 1s ease infinite alternate;
}
@keyframes shell-anim {
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.intro-text-1{
    margin-top: 10vh;
    font-size: 1.5rem;
    color: #6689a7;
}
.intro-text-2{
    margin: 20px 0px 0px 0px;
    font-size: 3.5rem;
    font-weight: bolder;
    color: #d1ced5;
}
.intro-text-3{
    margin: 30px 0px 0px 0px;
    font-size: 2.5rem;
    font-weight: bold;
    color: #6689a7;
}
p{
    margin-top: 50px;
    color: #d1ced5;
    line-height: 1.8;
}
.fa{
    margin-top: 80px;
    margin-left: 30px;
    background: #d1c3d5;
    padding: 4px;
    border-radius: 15%;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s ease;
    cursor: pointer;
}
.home-contact a:hover{
    transform: translateY(-10px);
}

a:active, a:link, a:visited{
    color: black;
}
@media screen and (max-width:1000px){
    html{
        scroll-behavior: smooth;
    }
    .intro-text-2{
        font-size: 2.5rem;
    }
    .intro-text-3{
        margin-top: 20px;
        font-size: 1.5rem;
    }
    p{
        margin-top: 25px;
        font-size: 20px;
    }
    .fa{
        margin-top: 70px;
        margin-left: 0px;
    }
    .home-contact a{
        padding:8px;
        margin-left:5px;
    }
}
/* About section */

.about{
    height: 100vh;
    position: relative;
}
.about-content{
    position: absolute;
    left: 10%; 
}
.heading{
    margin-top: 10%;
    font-size: 2.5rem;
    font-weight: bold;
    color: #d1ced5;
    letter-spacing: 2px;
}
.about-image-container{
    display:flex;
    margin: 20px 0px 0px -40px;
}

.about-image-container img{
    margin-top: 30px;
    height:300px;
    width:320px;
}
.about-image-container p{
    font-family: 'Fira Mono', monospace;
    font-size: 1rem;
    margin-left: 30px;
    line-height: 2;
}
.skills{
    margin-left: 320px;
    margin-top: -25px;
}
ul{

    display:inline-block;
    margin: 20px;
    margin-left: 30px;
}
ul li{
    font-family: 'Fira Mono', monospace;
    font-size: 1rem;
    line-height: 2;
    color: #d1ced5;
}
@media screen and (max-width:1000px){
    .heading{
        margin-top:90px;
    }
    .about-image-container{
        flex-direction: column;
    }
    .about-image-container img{
        margin-left: 7%;
    }
    .about-image-container p{
        width: 70%;
        font-size: 0.9rem;
        margin-left: 30px;
    }
    .about-image-container p br{
        content: '';
    }
    .line-break::before{
        content:"\A\A";
        white-space: pre;
    }
    .skills{
        margin-left: 0px;
        margin-top: 0px;
    }
    ul{
        display: inline-block;
        margin: 20px;
        margin-left:5px;
    }
    ul li{
        font-family: 'Fira Mono', monospace;
        font-size: 0.8rem;
        line-height: 3;
    }
}